/*
#container-page {margin: 0 auto; width: 100%; text-align: left; background: #efefef;}
#container-head-outer {}
#container-head-inner {}

#container-content {background: white; width: 90%; margin: 0 auto; border-right: 1px solid; border-left: 1px solid;}

#container-foot-outer {}
#container-foot-inner {}
*/
#container-page {width: 100%; text-align: left; min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -69px;}
#container-head-outer {}
#container-head-inner {}

#container-content {background: white; width: 90%; margin: 0 auto;}

#push,
#container-foot-outer {height: 69px;}
#container-foot-inner {}